html,body{
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%; 
  overflow-x: hidden;     
}
.text1{
    background-image: url('../../img/background-img.jpg');
    margin-top: -100px;
    margin-bottom:-10px;
    height: 400px;
}
.main{
    margin-top: 100px;
}
  h2{
    color:white;
   font-size: 30px;
  padding-top: 100px;
   text-align: center;
   text-transform: uppercase;
}

 h1{
    color: rgb(225,198,26);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    /* padding-bottom: 100PX; */
}

.section1{
    background-color:rgb(225,198,26);
    height:auto;
   
    
}
.section1 img{
    margin-top: -90PX;
}
.row1{
  /* display: inline-flex;
  justify-content: center; */

  margin-top: 10px;
}
.icon{
  /* margin-right: 100px; */
 margin-top: 100px;
 height: auto;
 width: auto;
 margin-left: auto;
 margin-right: auto;

}
.icon:hover{
  background-color: #ffffff40;
}
.icon img{
  margin-top: 20px;
  /* margin-left: 20px; */
  width:auto;
  height: auto;
}

 .form{
     margin-top: 50px;
    margin-left:150px;
    margin-right:150px;
    justify-content: center;
    width:auto;
 }

 .input{
    height: 40px;
    width:auto;
    margin-right: 10px;
    border: none;
 }
 .booking{
    margin-Top:50px;
    width: 250px;
    height: 80px;
    background-color: #9f340A;
    font-size: 30px;
    color: white;
    border-radius: 50px;
    
 }
 .booking:hover{
     color:rgb(225,198,26) ;
     background-color: black;
 }
 .heading1{
     margin-top: 10px;
     color: rgb(225,198,26);
     font-weight: bold;
 }
 .heading2{
   color: black;
 }
 .card{
    /* display: inline-flex;
    justify-content: center; */
    margin-bottom: 20px;
    height:auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
 .cardimg{
   width: 100px;
   height: 70px;
   margin-top: 20px;
   transition:transform .5s ease;
 }
 .cardimg:hover{
   transform:scale(1.5);
  
 }
 .section2{
   margin-left: 0px;
   margin-right:0px;
 }
 @media  (max-width: 1399.98px) {
  .text1{
    
    margin-top: -100px;
    margin-bottom: -10px;
    height: 400px;
   
   
}
.main{
    margin-top: 100px;
}
  h2{
    color:white;
   font-size: 30px;
    padding-top: 100px;
   text-align: center;
   text-transform: uppercase;
}
 h1{
    color: rgb(225,198,26);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    /* padding-bottom: 100PX; */
}

.section1{
    background-color:rgb(225,198,26);
    height:auto;
    width: auto;
   
    
}
.section1 img{
    margin-top: -90PX;
    height: 250px;
    width: 350px;
}
.row1{
  /* display: inline-flex;
  justify-content: center; */

  margin-top: 10px;
}
.icon{
  /* margin-right: 100px; */
 margin-top: 100px;
 height: auto;
 width: auto;
 margin-left: auto;
 margin-right: auto;

}
.icon:hover{
  background-color: #ffffff40;
}
.icon img{
  margin-top: 20px;
  /* margin-left: 20px; */
  width:auto;
  height: auto;
}



 .form{

    justify-content: center;
    margin-right:120px;
    margin-left:120px;
    margin-top:50px;
    width:auto;
     
 }
 .input{
    height:auto;
    width:150px;
    margin-right:10px;
    margin-left: 10px;
    border: none;
    
 }
 .booking{
    margin-Top: 70px;
    width: 250px;
    height: 80px;
    background-color: #9f340A;
    font-size: 30px;
    color: white;
    border-radius: 50px;
 }
 .booking:hover{
     color:rgb(225,198,26) ;
     background-color: black;
 }
 .heading1{
     margin-top: 10px;
     color: rgb(225,198,26);
     font-weight: bold;
     font-size: 40px;
 }
 .heading2{
   color: black;
   font-size: 60px;
 }
 .card{
    /* display: inline-flex;
    justify-content: center; */
    width:auto;
   margin-bottom:20px;
   /* margin-left:-100px; */
    height:auto;
 }
 .cardimg{
   width: 100px;
   height: 70px;
   margin-top: 20px;
   transition:transform .5s ease;
 }
 .cardimg:hover{
   transform:scale(1.5);
 }
 .section2{
   margin-left:0px;
   margin-right:0px;
 }

}
@media only screen and (max-width:1199.98px) {
  .text1{
    margin-top: -100px;
    margin-bottom: -10px;
    height: 400px;
   
   
}
.main{
    margin-top: 100px;
}
  h2{
    color:white;
   font-size: 30px;
    padding-top: 100px;
   text-align: center;
   text-transform: uppercase;
}
 h1{
    color: rgb(225,198,26);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    /* padding-bottom: 100PX; */
}


.section1{
    background-color:rgb(225,198,26);
    height:auto;
    width: auto;
   
    
}
.section1 img{
    margin-top: -90PX;
}
.row1{
  /* display: inline-flex;
  justify-content: center; */

  margin-top: 10px;
}
.icon{
  /* margin-right: 100px; */
 margin-top: 100px;
 height: auto;
 width: auto;
 margin-left: auto;
 margin-right: auto;

}
.icon:hover{
  background-color: #ffffff40;
}
.icon img{
  margin-top: 20px;
  /* margin-left: 20px; */
  width:auto;
  height: auto;
}



 .form{

    justify-content: center;
    margin-right:80px;
    margin-left: 80px;
    margin-top: 100px;
    width:auto;
     
 }
 .input{
    height:auto;
    width:150px;
    margin-right:10px;
    margin-left: 10px;
    border: none;
    
 }
 .booking{
    margin-Top: 70px;
    width: 250px;
    height: 80px;
    background-color: #9f340A;
    font-size: 30px;
    color: white;
    border-radius: 50px;
 }
 .booking:hover{
     color:rgb(225,198,26) ;
     background-color: black;
 }
 .heading1{
     margin-top: 10px;
     color: rgb(225,198,26);
     font-weight: bold;
     font-size: 40px;
 }
 .heading2{
   color: black;
   font-size: 60px;
 }
 .card{
    /* display: inline-flex;
    justify-content: center; */
    width:auto;
   margin-bottom: 20px;
    height:auto;
 }
 .cardimg{
   width: 100px;
   height: 70px;
   margin-top: 20px;
   transition:transform .5s ease;
 }
 .cardimg:hover{
   transform:scale(1.5) ;
 }
 .section2{
   margin-left:0px;
   margin-right:0px;
 }

}

@media (max-width: 991.98px) {
   .text1{
    
    margin-top: -100px;
    margin-bottom: -10px;
    height: 400px;
   
   
}
.main{
    margin-top: 100px;
}
  h2{
    color:white;
   font-size: 30px;
    padding-top: 100px;
   text-align: center;
   text-transform: uppercase;
}
 h1{
    color: rgb(225,198,26);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    /* padding-bottom: 100PX; */
}


.section1{
    background-color:rgb(225,198,26);
    height:auto;
    width: auto;
   
    
}
.section1 img{
    margin-top: -90PX;
}
.row1{
  /* display: inline-flex;
  justify-content: center; */

  margin-top: 10px;
}
.icon{
  /* margin-right: 100px; */
 margin-top: 100px;
 height: auto;
 width: auto;
 margin-left: auto;
 margin-right: auto;

}
.icon:hover{
  background-color: #ffffff40;
}
.icon img{
  margin-top: 20px;
  /* margin-left: 20px; */
  width:auto;
  height: auto;
}


 .form{
     
    justify-content: center; 
    margin-right:80px;
    margin-left:80px;
    margin-top:50px;
    width:auto;
     
 }
 .input{
    height:auto;
    width:100px;
    margin-right: 10px;
    border: none;
    
 }
 .booking{
    margin-Top: 70px;
    width: 250px;
    height: 80px;
    font-size: 30px;
    color: white;
    border-radius: 50px;
 }
 .booking:hover{
     color:rgb(225,198,26) ;
     background-color: black;
 }
 .heading1{
     margin-top: 10px;
     color: rgb(225,198,26);
     font-size: 30px;
     font-weight: bold;
 }
 .heading2{
   color: black;
   font-size: 50px;
 }
 .card{
    /* display: inline-flex;
    justify-content: center; */
    width:auto;
   margin-bottom: 20px;
   /* margin-left:auto; */
    height:auto;
 }
 .cardimg{
   width: 100px;
   height: 70px;
   margin-top: 20px;
   transition:transform .5s ease;
 }
 .cardimg:hover{
   transform: scale(1.5);
 }
 .section2{
   margin-left: 0px;
   margin-right: 0px;
 }
}

@media (max-width: 767.98px) {
 
  .text1{
    margin-top: -100px;
    margin-bottom: -10px;
    height: 400px;
   
   
}
.main{
    margin-top: 100px;
}
  h2{
    color:white;
   font-size: 30px;
    padding-top: 100px;
   text-align: center;
   text-transform: uppercase;
}
 h1{
    color: rgb(225,198,26);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    /* padding-bottom: 100PX; */
}


.section1{
    background-color:rgb(225,198,26);
    height:auto;
    width: auto;
   
    
}
.section1 img{
    margin-top: -90PX;
    width: 500px;
}
.row1{
  /* display: inline-flex;
  justify-content: center; */

  margin-top: 10px;
}
.icon{
  /* margin-right: 100px; */
 margin-top: 100px;
 height: auto;
 width: auto;
 margin-left: auto;
 margin-right: auto;

}
.icon:hover{
  background-color: #ffffff40;
}
.icon img{
  margin-top: 20px;
  /* margin-left: 20px; */
  width:auto;
  height: auto;
}

  .form{
  
    margin-top: 50px;
  justify-content: center;
   margin-right:auto;
   margin-left:auto;
   width:500px;
    
}
.input{
   height: 40px;
   width:auto;
   border: none;
   margin-left: 15px;
   
}
.booking{
   margin-Top: 40px;
   width: 130px;
   height: 40px;
   background-color: #9f340A;
   font-size: 16px;
   color: white;
   margin-left: 10px;
   border-radius: 50px;
}
.booking:hover{
    color:rgb(225,198,26) ;
    background-color: black;
}
.heading1{
    color: rgb(225,198,26);
    font-weight: bold;
    font-size: 24px;
    /* margin-left:-90px; */
   
}
.heading2{
  color: black;
  font-size: 30px;
  /* margin-left:-90px; */
}
.card{
   /* display: inline-flex;
   justify-content: center; */
   width: auto;
   height: auto;
   /* margin-left:200px; */
   
   margin-bottom: 20px;
}
.cardimg{
  width:auto;
  height:auto;
  margin-top: 20px;
  transition:transform .5s ease;
}
.cardimg:hover{
  transform:scale(1.5);
}
.section2{
  margin-left: 0px;
  margin-right:0px;
}
}

 @media (max-width:575.98px) {
  
  .text1{
    
    margin-top: -100px;
    margin-bottom: -10px;
    height: 300px;
}

.main{
    margin-top: 50px;
}

  h2{
    color:white;
   font-size: 18px;
    padding-top: 100px;
   text-align: center;
   text-transform: uppercase;
}
 h1{
    color: rgb(225,198,26);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 100PX;
}


.section1{
    background-color:rgb(225,198,26);
    height:auto;
    width: auto;
    
   
    
}
.section1 img{
    width: 200px;
    height:150px;
}
.row1{
    /* display: inline-flex;
    justify-content: center; */
  
    margin-top: 10px;
}
.icon{
    /* margin-right: 100px; */
   margin-top: 100px;
   height: auto;
   width: auto;
   margin-left: auto;
   margin-right: auto;
  
}
.icon:hover{
    background-color: #ffffff40;
  }
  .icon img{
    margin-top: 20px;
    /* margin-left: 20px; */
   
  }


 .form{
    margin-top: 50px;
    margin-right: auto;
        margin-left:auto;
        justify-content: center;
    width:auto;
     
 }
 .input{
    height: 40px;
    width:auto;
    border: none;
    margin-left: 15px;
    
 }
 .booking{
    margin-Top: 40px;
    width: 130px;
    height: 40px;
    background-color: #9f340A;
    font-size: 16px;
    color: white;
    margin-left: -10px;
    border-radius: 50px;
 }
 .booking:hover{
     color:rgb(225,198,26) ;
     background-color: black;
 }
 .section2{
   margin-left:0px;
  margin-right:0px; 
  
 
} 
 .heading1{
     color: rgb(225,198,26);
     font-weight: bold;
     font-size: 24px;
      /* margin-left:-60px;  */
    
 }
 .heading2{
   color: black;
   font-size: 30px;
    /* margin-left:-60px; */
 }
 .card{
    /* display: inline-flex;
    justify-content: center; */
    width:auto;
    height: auto; 
   /* margin-left:-50px;  */
    
    margin-bottom: 20px;
 }
 .cardimg{
   width: 100px;
   height: 70px;
   margin-top: 20px;
   transition:transform .5s ease;
 
 }
 .cardimg:hover {
  transform:scale(1.5);
 }
 
 }

 








